extends layout

block content
    h1= title

    form(method='POST')
        div.form-group
            label(for='username') User Name:
            input#username.form-control(type='text', placeholder='abc' name='username' required value=(undefined===user ? '' : user.userName))
        div.form-group
            label(for='password') Password:
            input#password.form-control(type='password', placeholder='****' name='password' required)
        button.btn.btn-primary(type='submit') Log in

    if errors
    ul
      for error in errors
        li!= error.msg
